n8n/workflows/example.json
{
  "name": "example",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b7f726b4-1cfd-4de0-99e7-911990a8445d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [420, 0],
      "id": "9e3e2d82-4cb4-4b1f-bb8f-6d39d10f0064",
      "name": "Webhook",
      "webhookId": "b7f726b4-1cfd-4de0-99e7-911990a8445d"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a smart contract auditor, trying to detect the **No Slippage Parameter** vulnerability in the given contract code.\n\n## No Slippage Parameter Vulnerability\n\nDeFi platforms must allow users to specify a slippage parameter - the minimum amount of tokens they want to be returned from a swap. Functions include exchanges, swaps, liquidity-related operations, and other similar functionalities need to consider whether there is a slippage parameter similar to minAmountOut.\n\n## No Slippage Parameter Vulnerability Examples\n\nExample 1: the code below contains **No Slippage Parameter** vulnerability since the slippage parameter is set to 0.\n\nIUniswapRouterV2(SUSHI_ROUTER).swapExactTokensForTokens(\n    toSwap,\n    0, // @audit min return 0 tokens; no slippage => user loss of funds\n    path,\n    address(this),\n    now\n    );\n\nExample 2: the code below contains **No Slippage Parameter** vulnerability since the slippage parameter is unused.\n\nfunction addLiquidity(\n\nIERC20 tokenA, IERC20 tokenB,\n\nuint256 amountADesired, uint256 amountBDesired,\n\nuint256 amountAMin, uint256 amountBMin,\n\naddress to, uint256 deadline\n\n) external override returns (uint256 liquidity) {\n\nreturn addLiquidity(\n\ntokenA, tokenB,\n\namountADesired, amountBDesired,\n\nto, deadline\n\n); // @audit amountAMin and amountBMin unused\n\n}\n\nExample 3: the code below contains **No Slippage Parameter** vulnerability since the slippage parameter is hardcoded.\n\nuint256 amountToSwap = IERC20(isTokenA ? vault.token1() : vault.token0()).balanceOf(address(this));\n\nif (amountToSwap > 0) {\n\nswapPool = IUniswapV3Pool(vault.pool());\n\n// @audit The 4th variable is called sqrtPriceLimitX96 and it represents the square root of the lowest or highest price that you are willing to perform the trade at. In this case, we've hardcoded in that we are willing to take the worst possible rate (highest price in the event we are trading 1 => 0; lowest price in the event we are trading 0 => 1).\n\nswapPool.swap(\n\naddress(this),\n\n// if withdraw token is Token0, then swap token1 -> token0 (false)\n\n!isTokenA,\n\nint256(amountToSwap),\n\nisTokenA\n\n? UniV3WrappedLibMockup.MAX_SQRT_RATIO - 1 // Token0 -> Token1\n\n: UniV3WrappedLibMockup.MIN_SQRT_RATIO + 1, // Token1 -> Token0\n\nabi.encode(address(this))\n\n);\n\n}\n\nExample 4: the code below DOES NOT contains **No Slippage Parameter** vulnerability since the slippage parameter is thoroughly checked to prevent being set to 0, unused, and hardcoded.\n\nfunction swapExactTokensForTokens(uint amountIn, uint amountOutMin, address[] calldata path, address to, uint deadline) external virtual override ensure(deadline) returns (uint[] memory amounts) {\n\namounts = UniswapV2Library.getAmountsOut(factory, amountIn, path);\n\nrequire(amounts[amounts.length - 1] >= amountOutMin, 'UniswapV2Router: INSUFFICIENT_OUTPUT_AMOUNT'); // @audit the slippage parameter is checked to avoid **No Slippage Parameter** vulnerability \n\nTransferHelper.safeTransferFrom(path[0], msg.sender, UniswapV2Library.pairFor(factory, path[0], path[1]), amounts[0]);\n\n_swap(amounts, path, to);\n\n}\n\nExample 5: the code below DOES NOT contains **No Slippage Parameter** vulnerability since the slippage parameter is thoroughly checked to prevent being set to 0, unused, and hardcoded.\n\n\nfunction exactInputSingle(ExactInputSingleParams memory params) external payable override nonReentrant returns (uint256 amountOut) {\n\n// use amountIn == Constants.CONTRACT_BALANCE as a flag to swap the entire balance of the\n\ncontract\n\nbool hasAlreadyPaid;\n\nif (params.amountIn == Constants.CONTRACT_BALANCE) {\n\nhasAlreadyPaid = true;\n\nparams.amountIn = IERC20(params.tokenIn).balanceOf(address(this));\n\n}\n\namountOut = exactInputInternal(\n        params.amountIn, params.recipient, params.sqrtPriceLimitX96,\n        SwapCallbackData({\n            path: abi.encodePacked(params.tokenIn, params.fee, params.tokenOut),\n            payer: hasAlreadyPaid ? address(this) : msg.sender\n        })\n    );\nrequire(amountOut >= params.amountOutMinimum); // @audit the slippage parameter is checked to avoid **No Slippage Parameter** vulnerability \n\n}\n\n\n## Task to Perform\n\nFollow the examples above to examine each function to check if it contains the **No Slippage Parameter** vulnerability concretely, record it with the format below if the function does contain. \n\nYou need to simulate the function to determine if it does contain the **No Slippage Parameter** vulnerability.\n\nNoted: token swapping operations are not limited to function containing the name related to “swap”.\n\n## Output Format\nIf NO concrete vulnerability found, output EXACTLY “There’s no such vulnerability.”\n\nOtehrwise, follow the format below: \n\n“””\n### Summary\nLack of slippage control\n\n### Vulnerability details\n[1. File name]\n[2. The functions where the vulnerability occur]\n[3. Describe vulnerability details]\n\n### Code Snippet\n[The lines where the vulnerability occurs]\n\n### Recommendation\n[Provide brief recommendations, do not need to mention Audit and Testing, do not need Code Snippet.]\n“””",
              "role": "system"
            },
            {
              "content": "={{ $json.body.contract_content }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "maxTokens": 2048,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [920, 0],
      "id": "15e4e9f0-02c9-4115-8e81-40cc5df59a2b",
      "name": "OpenAI",
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 0],
      "id": "94c1c0da-645d-4c61-93bb-517748bc0ab5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aec5e9ac-3ea7-45d7-8e28-6739dc9bf1f2",
              "leftValue": "={{ $json.headers['x-api-key'] }}",
              "rightValue": "1234567890",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [640, 20],
      "id": "1eb0daa5-febf-4ab1-9424-37cb5534e51f",
      "name": "Check API Key"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Unauthorized\"\n}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [820, 160],
      "id": "fe3b0284-c8ea-4567-93c4-f4ce0029b9f3",
      "name": "403 Unauthorized"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Key": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "403 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e8de4d02-c8a0-442e-83c6-265f21316da6",
  "meta": {
    "instanceId": "8789129020d7ccc9e3bcc76e80866ad16ba71549d1d93d78797a77a182bbbcd8"
  },
  "id": "dnfsPYkze9smtWam",
  "tags": []
}
