n8n_workflow/erc4626.json
{
  "name": "erc4626",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "e3e317b4-ecfb-4110-a607-23bab593c9d4",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-1380, 1145],
      "webhookId": "471f4f97-1fd4-4312-b3ee-6fcc3310611d"
    },
    {
      "parameters": {
        "content": "## Knowledge:\nERC4626\nhttps://hackmd.io/@jbuCOBZvRjaiqc9WpSNXMg/HyPD8iL8R",
        "height": 120,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-2060, 840],
      "id": "b36e2cde-b8f0-4bc6-a9cc-01916521cf1e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Rounding\nhttps://github.com/code-423n4/2022-06-notional-coop/blob/main/notional-wrapped-fcash/contracts/wfCashERC4626.sol#L186-L191",
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1220, 360],
      "id": "dfe3cc0a-44e4-4618-8fe1-03552a4b704f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Global and user-specific limits\nhttps://github.com/code-423n4/2023-05-maia/blob/main/src/maia/tokens/ERC4626PartnerManager.sol#L174",
        "height": 200,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-780, 720],
      "id": "20e477c7-438b-4d02-a301-6a0b75f6405e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Fee\nhttps://github.com/code-423n4/2023-05-maia/blob/54a45beb1428d85999da3f721f923cbf36ee3d35/src/erc-4626/UlyssesERC4626.sol#L96-L106",
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1200, 1300],
      "id": "b6cdd763-f50f-41c1-a297-b7d431a38013",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [-784, 945],
      "id": "539b7f9b-f1b0-4cee-95ce-2a5f968a5891",
      "name": "Merge"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a smart contract auditor. After reading the following vulnerability knowledge and understanding correct and incorrect examples, detect the problem in the contract code.\n\n### Vulnerability Knowledge\n\n**ERC4626 Rounding**\nERC-4626 vault implementations need to consider the rounding direction of different function implementations, as it is safer to prioritize the vault itself over the user in the computation.\n\n### Examples\n\n#### Example 1: Incorrect Example\n\nCheck out the following sample code:\n\n```solidity\nfunction withdraw(\n        uint256 assets,\n        address receiver,\n        address owner\n    ) public nonReentrant returns (uint256 shares) {\n        if (receiver == address(0)) revert InvalidReceiver();\n        shares = convertToShares(assets);\n/// .... [skipped the code]\n\nfunction convertToShares(uint256 assets) public view returns (uint256) {\n        uint256 supply = totalSupply(); \n\n        return\n            supply == 0\n                ? assets\n                : assets.mulDiv(supply, totalAssets(), Math.Rounding.Down);\n    }\n```\n\nin the above example, convertToShares() uses Rounding.Down, assuming the vault state is as follows:\n\nTotal Asset = 1000 WETH\nTotal Supply = 10 shares\n\nConsider this scenario, Alice wants to withdraw 99 WETH from the vault, which is calculated as 99 * 10/1000, and due to rounding down, the value of the postback is 0, Alice can withdraw the asset from the vault without having to burn its share.\n\n**Suggestion**\n\nFor more information on the rounding direction of different functions in the vault, please refer to\n\nhttps://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC20/extensions/ERC4626.sol\n\n### Task to Perform\nFollow the examples above to examine each contract and check if it contains this issue. If you find any potential issues, record them using the format below.\n\n### Output Format\n\nIf NO concrete vulnerability found, output a empty array\n\nOtherwise, follow the format below:\n\n```\n[\n    {\n        \"summary\":  \"summary of the vulnerabilities\",\n        \"vulnerability_details\": {\n            \"function_name\": \"Name of the function\",\n            \"description\": \"a brief description of the vulnerability\"\n        },\n    \n        \"code_snippet\": [\n            \"code snippet in the file\"\n        ],\n    \n        \"recommendation\": \"recommendation of how to fix the vulnerability\"\n    \n    }\n]\n```"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [-1160, 545],
      "id": "251c9b64-8582-4810-8a83-b41055d81583",
      "name": "ERC4626-Rounding",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-1132, 765],
      "id": "b18db783-8798-44dc-ac54-8f2be87aa1cc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6qICvMVQ9Mixvcjz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"summary\": {\n        \"type\": \"string\",\n        \"description\": \"Brief summary of the vulnerability\"\n      },\n      \"severity\": {\n        \"type\": \"string\",\n        \"items\": {\n          \"type\": \"string\",\n          \"enum\": [\"high\", \"medium\", \"low\"]\n        },\n        \"description\": \"Severity level of the vulnerability\"\n      },\n      \"vulnerability_details\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"function_name\": {\n            \"type\": \"string\",\n            \"description\": \"Function name where the vulnerability is found\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"Detailed description of the vulnerability\"\n          }\n        },\n        \"required\": [\"function_name\", \"description\"]\n      },\n      \"code_snippet\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        },\n        \"description\": \"Code snippet showing the vulnerability\",\n        \"default\": []\n      },\n      \"recommendation\": {\n        \"type\": \"string\",\n        \"description\": \"Recommendation to fix the vulnerability\"\n      }\n    },\n    \"required\": [\"summary\", \"severity\", \"vulnerability_details\", \"code_snippet\", \"recommendation\"]\n  },\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [-1012, 765],
      "id": "065adc61-b367-4146-a3c2-d0774c60f954",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a smart contract auditor. After reading the following vulnerability knowledge and understanding correct and incorrect examples, detect the problem in the contract code.\n\n### Vulnerability Knowledge\n\n**Global and user-specific limits**\nWhen implementing a vault, it may happen that certain functions in the vault may be suspended due to urgent withdrawals or intentional by design, and some functions need to take into account these global state changes or user-specific restrictions.\n\n### Examples\n\n#### Example 1: Incorrect Example\n\nCheck out the following sample code:\n\n```solidity\nfunction deposit(uint256 assets, address receiver) external nonReentrant whenNotPaused returns (uint256) {\n        uint256 shares = previewDeposit(assets);\n        require(shares > 0, \"ZERO_SHARES\");\n        /// .... [skipped the code]\n    }\nfunction maxDeposit(address) public view virtual returns (uint256) {\n        return type(uint256).max;\n    }\n```\n\nwhenTokenNotPaused's modifier checks if the state at which deposit() was executed, and if the vault happens to be paused, maxDeposit() returns a value that can't actually be deposited, causing any component that relies on these functions to pass back the correct value to fail.\n\n**Suggestion**\n\nAccording to EIP 4626, maxDeposit(), maxMint(), maxWithdraw(), and maxRedeem() need to be taken into account global state or user-specific restrictions, and must be passed back to 0 if completely deactivated (even temporarily).\n\n### Task to Perform\nFollow the examples above to examine each contract and check if it contains this issue. If you find any potential issues, record them using the format below.\n\n### Output Format\n\nIf NO concrete vulnerability found, output a empty array\n\nOtherwise, follow the format below:\n\n```\n[\n    {\n        \"summary\":  \"summary of the vulnerabilities\",\n        \"vulnerability_details\": {\n            \"function_name\": \"Name of the function\",\n            \"description\": \"a brief description of the vulnerability\"\n        },\n    \n        \"code_snippet\": [\n            \"code snippet in the file\"\n        ],\n    \n        \"recommendation\": \"recommendation of how to fix the vulnerability\"\n    \n    }\n]\n```"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [-1160, 945],
      "id": "a369b2e7-1411-40ec-ad04-03b620cc12aa",
      "name": "ERC4626-Global and user-specific limits",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a smart contract auditor. After reading the following vulnerability knowledge and understanding correct and incorrect examples, detect the problem in the contract code.\n\n### Vulnerability Knowledge\n\n**Fee**\nWhen designing vault-related applications, many project parties will charge for using some of the functions in the vault, and some functions need to consider the cost to be able to reflect truthfully.\n\n### Examples\n\n#### Example 1: Incorrect Example\n\nCheck out the following sample code:\n\n```solidity\n \n    function deposit(uint256 assets, address receiver) external nonReentrant whenNotPaused returns (uint256) {\n        uint256 fee = (assets * DEPOSIT_FEE_RATE) / MAX_FEE_RATE;\n        uint256 assetsAfterFee = assets - fee;\n        uint256 shares = _convertToShares(assetsAfterFee);\n\n        require(shares > 0, \"ZERO_SHARES\");\n\n        _mint(receiver, shares);\n        asset.safeTransferFrom(msg.sender, address(this), assetsAfterFee);\n        asset.safeTransferFrom(msg.sender, address(this), fee); // Transfer fee to the vault\n\n        emit Deposit(msg.sender, receiver, assetsAfterFee, shares, fee);\n        return shares;\n    }\n    \n    function previewDeposit(uint256 assets) public view virtual returns (uint256) {\n        return assets;\n    }\n\n```\n\nThere is a fee at the time of deposit, and the actual deposit amount is not the same as the value of the previewDeposit() return, which causes a value gap for the user or other contracts that integrate the vault.\n\n**Suggestion**\n\nAccording to EIP 4626, previewDeposit(), previewMint(), previewWithdraw(), and previewRedeem() are required to consider the expected fees charged when posting backs.\n\n### Task to Perform\nFollow the examples above to examine each contract and check if it contains this issue. If you find any potential issues, record them using the format below.\n\n### Output Format\n\nIf NO concrete vulnerability found, output a empty array\n\nOtherwise, follow the format below:\n\n```\n[\n    {\n        \"summary\":  \"summary of the vulnerabilities\",\n        \"vulnerability_details\": {\n            \"function_name\": \"Name of the function\",\n            \"description\": \"a brief description of the vulnerability\"\n        },\n    \n        \"code_snippet\": [\n            \"code snippet in the file\"\n        ],\n    \n        \"recommendation\": \"recommendation of how to fix the vulnerability\"\n    \n    }\n]\n```"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [-1160, 1145],
      "id": "702b442e-80a7-4d73-af79-ea081059bc9d",
      "name": "ERC4626-Fee",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d798e549-8950-44e4-bf1f-4f4140885454",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-2040, 645],
      "id": "ed34b4b0-1d07-4d01-a396-6bc60fc9f23f",
      "name": "Webhook",
      "webhookId": "d798e549-8950-44e4-bf1f-4f4140885454"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $execution.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-1600, 520],
      "id": "025149d6-d3db-49d1-80ca-233fa5d17997",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72ea9720-b7d8-4e8c-9b6f-3a10987c34bf",
              "name": "chatInput",
              "value": "={{ $json.body.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1380, 645],
      "id": "994a2cfe-7084-46c2-a189-16b07b46cd2b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "162cf072-03ec-49a2-b87d-820eb155c89e",
              "leftValue": "={{ $json.body.mode }}",
              "rightValue": "trace",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1820, 645],
      "id": "84a6e482-ceb9-4d72-8675-70838ca59aba",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-564, 945],
      "id": "73b3e454-14d8-48cc-893c-c21a1d2129c8",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "ERC4626-Rounding",
            "type": "main",
            "index": 0
          },
          {
            "node": "ERC4626-Global and user-specific limits",
            "type": "main",
            "index": 0
          },
          {
            "node": "ERC4626-Fee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ERC4626-Rounding",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "ERC4626-Global and user-specific limits",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "ERC4626-Fee",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "ERC4626-Rounding",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "ERC4626-Global and user-specific limits",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "ERC4626-Fee",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "ERC4626-Rounding": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERC4626-Global and user-specific limits": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ERC4626-Fee": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "ERC4626-Rounding",
            "type": "main",
            "index": 0
          },
          {
            "node": "ERC4626-Global and user-specific limits",
            "type": "main",
            "index": 0
          },
          {
            "node": "ERC4626-Fee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1ccea40-0329-46c0-b0ca-f52c26094e49",
  "meta": {
    "instanceId": "022db2fbd0a73e6d486f16c5eb885d1053a420197cf4f3857ab5d1742b50c5ad"
  },
  "id": "AcrMvVCfcmt2Af9Y",
  "tags": []
}
